// Overall site style
$backgroud_color: #fafafa;
$body_padding: 1rem;
$border-radius-1: 0;
$font_default_family: "Raleway", sans-serif;
$gallery_item_background_color: white;
$min_screen_with: 300px;
$text_default_light_color: #000000;
$text_default_dark_color: #000000;
$default_grey_color: #eeeeee;

// Gallery cards
$min_height_card: 300px;
$min_width_card: 200px;
