@import "../../style/variables.scss";

.section {
  .sectionErrorTitle {
    color: $text_default_light_color;
    font-size: 4rem;
    font-family: $font_default_family;
  }
  .sectionTitle {
    color: $text_default_light_color;
    font-size: 1rem;
    font-family: $font_default_family;
    margin-bottom: 2rem;
  }

  .goBackLink {
    background-color: white;
    border: 1px solid #b9b9b9;
    border-radius: $border-radius-1;
    color: $text_default_light_color;
    cursor: pointer;
    font-family: $font_default_family;
    font-size: 0.8rem;
    height: 2rem;
    width: 8rem;
    padding: 0.2rem 1rem;
  }

  .goBackLink:hover {
    background-color: $default_grey_color;
    border: 1px solid $text_default_light_color;
    color: $text_default_dark_color;
  }

  .goBackLink:active {
    background-color: #cecece;
    border: 1px solid $text_default_light_color;
    color: $text_default_dark_color;
  }
}
